@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;0,800;1,200&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin:  0;
    padding: 0;
}
/* permite deslizar al clickear los links del menu */
html{
    scroll-behavior: smooth;
}
/* menu */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}


.contenedor-header header .logo a{
    font-family: "Poppins";
    font-size: 26px;
    color: rgb(0, 171, 122);
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
} 

.contenedor-header header nav ul li a{
    text-align: none;
    color: #ffff;
    text-decoration: none;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;

}

.contenedor-header header nav ul li a:hover{
    color: rgb(0, 171, 122);
    
}

.nav-responsive{
    background-color: rgb(0, 171, 122);
    color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio{
    background: linear-gradient(to top, rgb(30, 35, 38,.8),rgb(30,35,38,1));
    background-size: cover;
    height: 100vh;
    color: #ffff;
    display: flex;
    align-items: center;
}

.inicio .contenedor-banner{
    padding: 20px;
    background-color:#1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}


.contenido-img img{
    margin: auto;
    border-radius: 100%;
    border: 6px solid rgb(0, 171, 122);
    height: 200px;
    display: block;
    
}

.contenedor-banner h1{
    margin-top: 40px;
    font-size: 36px;
    font-family: "Poppins";
}


.contenedor-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.contenedor-banner .redes a{
    color: #ffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}


.contenedor-banner .redes a:hover{
   background-color: rgb(0, 171, 122);
}

.sobremi{
    background-color: #1e2326;
    color: #ffff;
    padding: 50px 20px;
    height: 100vh;
    
}

.sobremi .contenido-seccion{
    max-width: 1110px ;
    margin: auto;
    margin-top: 100px;
}

.sobremi h2{

    font-size: 48px;
    font-family: "Poppins";
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;

}

.sobremi .contenido-seccion p span{
   color: rgb(0, 171, 122);
   font-weight: bold;
   font-size: 36px;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: "Poppins";
    margin-bottom: 25px;
    
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
   margin: 12px 0;
}

.sobremi .fila .col ul li strong{
   display: inline-block;
   color: rgb(0, 171, 122);
   width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: rgb(0, 171, 122);
    padding: 3px;
    font-weight:bold;
    border-radius: 5px;
}


.sobremi .contenido-seccion .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    
}

.sobremi .contenido-seccion .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    padding:10%
}

.sobremi .contenido-seccion .fila .col .contenedor-intereses .interes:hover{
    background-color: rgb(0, 171, 122);
}

.sobremi .contenido-seccion .fila .col .contenedor-intereses .interes i{
    font-size: 25px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffff;
    position: relative;
    z-index: 10;
    margin-top: 100px;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 171, 122);
    z-index: -1;
    transition: 1s;

}

.sobremi button:hover .overlay{
    width: 100%;
}


.skills{
    background: linear-gradient(to top, rgb(30, 35, 38,.8),rgb(30,35,38,1));
    color: #ffff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1110px ;
    margin: auto;
    height: 100vh;
}

.skills h2{

    font-size: 48px;
    font-family: "Poppins";
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
    margin-bottom: 50px;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: "Poppins";
    margin-bottom: 25px;
    
}

.skills .contenido-seccion .fila .col .contenedor-lenguajes{
    display: flex;
    flex-wrap: wrap;
    
}

.skills .contenido-seccion .fila .col .contenedor-lenguajes .lenguajes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    padding:10%
}

.skills .contenido-seccion .fila .col .contenedor-lenguajes .lenguajes:hover{
    background-color: rgb(0, 171, 122);
}

.skills .contenido-seccion .fila .col .contenedor-lenguajes .lenguajes i{
    font-size: 25px;
    margin-bottom: 10px;

}

.skills .fila .col ul{
    list-style: none;
    margin-top: 10px;
}


.skills .fila .col ul li{
    margin: 12px 0;
    margin-top: 12px;
 }
 
 .skills .fila .col ul li strong{
    display: inline-block;
    color: rgb(0, 171, 122);
    width: 130px;
    font-size: 25px;
    border-radius: 5px;
    margin-left: 35px;
    margin-top: 20px;
 }

